breastcancerflow.json
[{"id":"2426dd8d.c61752","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"8d112043.51818","type":"ui_form","z":"2426dd8d.c61752","name":"","label":"","group":"71bb500b.c594b","order":1,"width":0,"height":0,"options":[{"label":"radius_mean","value":"rm","type":"number","required":true,"rows":null},{"label":"perimeter_mean","value":"pm","type":"number","required":true,"rows":null},{"label":"area_mean","value":"am","type":"number","required":true,"rows":null},{"label":"compactness_mean","value":"cm","type":"number","required":true,"rows":null},{"label":"concavity_mean","value":"cnm","type":"number","required":true,"rows":null},{"label":"concave points_mean","value":"cpm","type":"number","required":true,"rows":null}],"formValue":{"rm":"","pm":"","am":"","cm":"","cnm":"","cpm":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":93,"y":279.00000381469727,"wires":[["300b04c2.8ebcac","fe013086.3893d"]]},{"id":"300b04c2.8ebcac","type":"debug","z":"2426dd8d.c61752","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":360,"wires":[]},{"id":"fe013086.3893d","type":"function","z":"2426dd8d.c61752","name":"pre-token","func":"global.set(\"rm\",msg.payload.rm)\nglobal.set(\"pm\",msg.payload.pm)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"cm\",msg.payload.cm)\nglobal.set(\"cnm\",msg.payload.cnm)\nglobal.set(\"cpm\",msg.payload.cpm)\nvar apikey=\"kS-T2tAIj3fyUHfP1lW5jeuOnB_u45vQIbBVmlUJp_ia\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":220,"wires":[["73aa437b.cc75bc"]]},{"id":"73aa437b.cc75bc","type":"http request","z":"2426dd8d.c61752","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":392.00000381469727,"y":264.00000286102295,"wires":[["e1cfead8.e7efe8","bf7d385a.7234a8"]]},{"id":"e1cfead8.e7efe8","type":"debug","z":"2426dd8d.c61752","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":320,"wires":[]},{"id":"bf7d385a.7234a8","type":"function","z":"2426dd8d.c61752","name":"Pre Prediction","func":"var rm = global.get(\"rm\")\nvar pm = global.get(\"pm\")\nvar am = global.get(\"am\")\nvar cm = global.get(\"cm\")\nvar cnm = global.get(\"cnm\")\nvar cpm = global.get(\"cpm\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"radius_mean\",\"perimeter_mean\",\"area_mean\",\"compactness_mean\",\"concavity_mean\",\"concave points_mean\"],\"values\":[[rm,pm,am,cm,cnm,cpm]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":584.0000076293945,"y":216.0000021457672,"wires":[["25f020f7.5fc9e"]]},{"id":"25f020f7.5fc9e","type":"http request","z":"2426dd8d.c61752","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/41b2d4bd-ce6e-4222-ab34-8b21046b7f14/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":240,"wires":[["f0f9ecd4.f8787","e56e1914.ca7a58"]]},{"id":"f0f9ecd4.f8787","type":"debug","z":"2426dd8d.c61752","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":962.9999914169312,"y":324.00000381469727,"wires":[]},{"id":"1f93d996.156a36","type":"inject","z":"2426dd8d.c61752","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":120,"wires":[["fe013086.3893d"]]},{"id":"70aa0340.0fd98c","type":"debug","z":"2426dd8d.c61752","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":793.9999885559082,"y":107.0000057220459,"wires":[]},{"id":"e56e1914.ca7a58","type":"function","z":"2426dd8d.c61752","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":639.6000595092773,"y":148.00000190734863,"wires":[["70aa0340.0fd98c","8e1dda38.24f7a8"]]},{"id":"8e1dda38.24f7a8","type":"ui_text","z":"2426dd8d.c61752","group":"71bb500b.c594b","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":757.6000366210938,"y":381.20001220703125,"wires":[]},{"id":"71bb500b.c594b","type":"ui_group","z":"","name":"Breast Cancer Prediction","tab":"ddc56f10.d3cb1","order":1,"disp":true,"width":"6","collapse":false},{"id":"ddc56f10.d3cb1","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]